$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-orange-light: #ff6900;
$color-orange-dark: #ff7730;
$color-blue: #2998ff;
$color-purple: #5643fa;

$color-white: #ffffff;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;
$color-dark: #777777;
$color-black: #000000;

$font-primary: "Lato", sans serif;
